<footer class="footer_myshoes">
    <div class="footer_container">
        <div class="myshoes_services footer_services">
            <div class="customer_services footer_services">
                <h4>Customer Service</h4>
                <p><a href="#" class="service_items">About Us</a></p>
                <p><a href="{{path ('contact_us')}}" class="service_items">Contact Us</a></p>
                <p><a href="{{path ('sitemap')}}" class="service_items">Site plan</a></p>
                <p><a href="#" class="service_items">FAQ</a></p>
            </div>
        </div>
        <div class="legal_services footer_services">
            <h4>Our Legal Services</h4>
            <p><a href="#" class="service_items">CVG</a></p>
            <p><a href="#" class="service_items">Protection of data</a></p>
            <p><a href="#" class="service_items">Condition of offer</a></p>
            <p><a href="#" class="service_items">Terms of Sales</a></p>
            <p><a href="#" class="service_items">Privacy and Cookies</a></p>
        </div>
        <div class="find_product footer_services">
            <h4>Find your product</h4>
            <p><a href="#" class="service_items">Delivery</a></p>
            <p><a href="#" class="service_items">Product return policy</a></p>
            <p><a href="#" class="service_items">Follow your package</a></p>
        </div>
        <div class="follow_us footer_services">
            <h4>Follow Us</h4>
            <p>Let's stay social</p>
            <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
    <div class="myshoes_copyright footer_container">
        <div class="copyright">
            <p>© Copyright 2023, myshoes.com®, Inc. <br>
                8 Rue de la Rivière 67200, Strasbour | +33 945 323 532
            </p>
        </div>
        <div class="payment_accept">
            <p>We accept: </p>
            <div class="payment_accept_img">
                <img src="{{asset('./images/cards/master.png')}}" alt="master card">
                <img src="{{asset('./images/cards/cb.jpeg')}}" alt="debit card">
                <img src="{{asset('./images/cards/visa.png')}}" alt="Visa card">
            </div>
        </div>
    </div>
    
</footer>