<nav class="myshoes_first_nav">
    <div class="general_container myshoes_nav_items">
        <a href="{{path ('home')}}" class="logo">MyShoes</a>
        <form action="" class="myshoes_search_bar">
            <input class="myshoes_search_nav" type="text" placeholder="Search" aria-label="Search">
            <button class="myshoes_nav_search_button"><i class="fa-solid fa-magnifying-glass icons"></i></button>
        </form>
        <ul>
            <li>
                <div class="dropdown_user">
                    <i class="fa-regular fa-user user_icon"></i>
                    <ul>
                        {% if app.user %}
                        <li><a href="{{path ('app_logout')}}"><i><small>Log out</small></i></a></li>
                        <li><a href="{{path ('address')}}">Account</a></li>
                        <li class="admin"><a href="{{path ('admin')}}" target="_blank"><em><small>Admin</small></em></a></li>
                        {% else %}
                        <li class="admin"><a href="{{path ('admin')}}" target="_blank"><em><small>Admin</small></em></a></li>
                        <li><a href="{{path ('app_login')}}">Sign in</a></li>
                        <li><a href="{{path ('app_register')}}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <li>
                <a href="#" class="cart_number">
                    <i class="fa-regular fa-heart cart_icon"></i>
                    <span class="cart_data">2</span>
                </a>
            </li>
            <li>
                <a href="{{path ('cart')}}" class="cart_number">
                    <i class="fa-solid fa-cart-shopping cart_icon"></i>
                    <span class="cart_data">{{cart_total_quantity()}}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<nav class="second_nav_myshoes">
    <div class="">
        <ul>
            <li>
                <a href="{{path ('men')}}">Men</a>
            </li>
            <li>
                <a href="{{path ('women')}}">Women</a>
            </li>
            <li>
                <a href="{{path ('children')}}">Children</a>
            </li>
        </ul>
    </div>
</nav>
