{% extends 'base.html.twig' %}

{% block title %}my cart{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

    <section class="container pt-4">
        <h4 class="basket_page">Basket</h4>
    </section>

<main>
        <section>
            <div class="container">
                <div class="row basket">
                    <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 basket_full">
                        <div class="basket_title">
                            <h6>Basket Resume ({{carts|length}}{{ carts|length > 1 ? ' articles'  : ' article' }})</h2>
                            </h6>
                        </div>
                        {% set total = null %}
                        {% set qtytotal = 0 %}
                        {% for key, cart in carts %}
                            <div class="basket_product">
                                <div class="row a_basket_product">
                                    <a href="{{path('related_products', {'id': cart.productdetail.id})}}" class="col-5 basket_img_div">
                                            <img src="/upload/{{cart.productdetail.image}}" alt="{{cart.productdetail.shoesname}}" class="img-fluid basket_img">
                                    </a>
                                    <div class="col-6 basket_info">
                                        <aside>{{cart.productdetail.mark}}</aside>
                                        <aside><strong>{{cart.productdetail.shoesname}}</strong></aside> {# - {{cart.productdetail.category.category}} #}
                                        <aside>Size: {{cart.size.adultsize}}</aside>
                                        <p>
                                            {% if cart.productdetail.promotion > 0 %}
                                                <i style="color: red;">{{ (cart.productdetail.discountPrice/100) | number_format(2, ',', '.') }} €</i> - <span>
                                                    <small id="original_price">Original Price: <s>{{ (cart.productdetail.price/100) | number_format(2, ',', '.') }} €</s></small>
                                                </span>
                                            {% else %}
                                                <span class="">{{ (cart.productdetail.price/100) | number_format(2, ',', '.') }} €</span> <br>
                                            {% endif %}
                                        </p>
                                        <form action="{{path('update_cart', {'cartKey': key})}}">
                                            <div class="input-group mb-4 w-50">
                                                <span class="input-group-btn">
                                                    <button type="submit" class="quantity-left-minus btn" name="action" value="minus">
                                                        <i class="fa-solid fa-minus"></i>
                                                    </button>
                                                </span>
                                                <input type="text" id="quantity" name="quantity" class="text-center form-control input-number" value="{{cart.quantity}}" min="1" max="100" disabled>
                                                <span class="input-group-btn ml-1">
                                                    
                                                    <button type="submit" class="quantity-right-plus btn" name="action" value="add">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>             
                                    </div>
                                </div>
                                <a href="{{path('delete_from_cart', {'id': cart.productdetail.id})}}" class="btn_cancel_basket"><i class="fa-solid fa-rectangle-xmark"></i></a>
                            </div>
                            {% set total = total + (cart.productdetail.discountPrice * cart.quantity) %}
                            {% set qtytotal = qtytotal + (cart.quantity) %}
                        {% endfor %}
                    </div>

                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="sub_total_section">
                            <div class="sub_total">
                                <p>Sub total</p>
                                <p>{{ (total/100) | number_format(2, ',', '.') }} €</p>
                            </div>
                            <div class="sub_total">
                                <p>Quantity</p>
                                <p>{{qtytotal}}</p>
                            </div>
                            <a href="{{path ('command')}}" class="check_out_btn btn">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}{% endblock %}

