{% extends 'base.html.twig' %}

{% block title %}Command details{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
<main class="container py-5">
    <div class="row">
        {% for productdetails in commanddetails.commandDetails %}
            
        {{ dump(productdetails) }}
        {% endfor %}
        <h2 class="pb-4 text-center">Vos commandes</h2>
        <!-- ============= SIDE BAR USER ACCOUNT =========-->
        <div class="col-md-3 bg-light rounded-4 py-4 me-2" style="height: 300px;">
            <h4 class="text-center">Mon compte</h4>
            <div class="sous_total d-flex flex-column">
                <a href="#">Résumé</a>
                <a href="{{path ('client_command')}}">Mes Commandes</a>
                <a href="#">Données personnelles</a>
                <a href="{{path ('address')}}">addresss</a>
            </div>
        </div>

        <!-- ============= COMMAND BY USERS =========-->
        {# {{ dump(command) }} #}

        <div class="d-flex justify-content-center">
            {# {% do command.setPageRange(2) %}
            {{ knp_pagination_render(command, 'base/pagination.html.twig')}} #}
        </div>
    </div>
</main>

{% endblock %}

{% block footer %}
{% endblock %}
