{% extends 'base.html.twig' %}

{% block title %}My commands{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <main class="container">
        <div class="row account">
            {% include('_partials/leftnavuseraccount.html.twig') %}
            <section class="col-sm-9 right_side_account">
                <div class="container pt-4">
                    <h4 class="basket_page">My Commands</h4>
                </div>
                <div class="container">
                    {% for product in command %}
                        <div class="command_card">
                            <div class="command_header">
                                <div class="row">
                                    <div class="col-sm-7 command_reference">
                                        <p>Command Reference: <strong>{{product.reference}}</strong></p>
                                        <p>Date commanded: <strong>{{ product.createAt|date('D, d.m.Y') }}</strong></p>
                                    </div>
                                    <div class="col-sm-4 command_btn">
                                        <p><a href="{{path('details_command', {'reference': product.reference})}}" class="command_detail_btn">Command Details</a></p>
                                        <p><a href="{{path('invoice_pdf', {'reference': product.reference})}}" class="download_invoice">Download Invoice</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="command_body">
                                <div class="row">
                                    {% for productdetails in product.CommandDetails %}
                                        <a href="#" class="col-4 command_img_div">
                                            <img src="/upload/{{productdetails.productimage}}" alt="{{productdetails.productname}}" class="img-fluid command_img">
                                        </a>
                                        <div class="col-4 command_info">
                                            <aside>{{productdetails.productmark}}</aside>
                                            <aside><strong>{{productdetails.productname}}</strong></aside>
                                            <aside>Quantity : {{productdetails.quantity}}</aside>
                                            <aside>Size : {{productdetails.size}}</aside>
                                            <p>{{(productdetails.productprice/100)|number_format(2, ',', '.')}} €</p>
                                        </div>
                                    {% endfor %}
                                        <div class="col-3 command_status text-center">
                                            <p>Delivery status:</p>
                                            <p><strong>{{product.deliverystatusText}}</strong></p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>

{% endblock %}

{% block footer %}
{% endblock %}
