{% extends 'base.html.twig' %}

{% block title %}Myshoes boutique{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <!--=============  HERO SECTION  ======================-->
    {% for header in carousels %}
    <section class="hero">
        <div class="hero_info">
            <div class="hero_image">
                <img src="images/HeaderImage/{{header.headerimage}}" class="hero_img" alt="background Image" srcset="">
            </div>
            <div class="hero_text">
                <p>{{header.headertext}}</p>
                <a href="{{header.headerurl}}" class="hero_btn myshoes_btn" role="button">{{header.headerbtn}}</a>
            </div>
        </div>
    </section>
    {# <section class="hero_myshoes" style="background: url('images/HeaderImage/{{header.headerimage}}');" alt="background Image">
        <div class="general_container">
                <div class="hero_text">
                    <a href="{{header.headerurl}}" class="hero_btn myshoes_btn" role="button">{{header.headerbtn}}</a>
                </div>
            </div>
        </section> #}
    {% endfor %}

    <!-- Advertisement Section -->
    <section class="advert_myshoes general_container">
        <div class="advert_info">
            <div class="advert_writing">
                <h2>What you wear, we care, <br> so wear quality</h2>
                <div class="advert_description">
                    <div class="advert_icon">
                        <i class="fa-regular fa-gem"></i>
                    </div>
                    <p>We provide the best quality</p>
                </div>
                <div class="advert_description">
                    <div class="advert_icon">
                        <i class="fa-solid fa-ship"></i>
                    </div>
                    <p>Fast shipment is what we are known for</p>
                </div>
                <div class="advert_description">
                    <div class="advert_icon">
                        <i class="fa-solid fa-coins"></i>
                    </div>
                    <p>The prices are at it’s minimum</p>
                </div>
            </div>
            <div class="advert_image">
                <img class="fluid" src="{{asset('./images/advert Image.png')}}" alt="advert Image">
            </div>
        </div>
    </section>

    <!--================= TRENDING PRODUCTS SECTION ==================-->
    <!-- Product Section -->

    <section class="product_section">
        <h2>Frequent Buys</h2>
        <div class="myshoes_product">
            {% for product in products %}
            <div class="product_class">
                <a href="{{path ('related_products', {'id': product.id})}}" class="product">
                    <div class="product_card">
                        <div class="card_image">
                            <img src="/upload/{{product.image}}" class="product_img" alt="photo {{product.shoesname}}">
                            <a id="select_wishes" class="wishlist wishlist_update" href="{{path ('add_wishlist', {'id': product.id})}}" data-productid="">
                                {% if app.user and product.isWishedByUser(app.user) %}
                                <i class="fa-solid fa-heart heart_icon"></i>
                                {% else %}
                                <i class="fa-regular fa-heart"></i>
                                {% endif %}
                            </a>
                            {% if product.promotion > 0 %}
                                <p class="promo">Promo<span>-{{product.promotion}}%</span></p>
                            {% endif %} 
                        </div>
                        {# <div class="text">
                                {% for size in product.adultsize %}
                                        {{ size.adultsize }}
                                {% endfor %}
                            </p>
                        </div> #}
                    </div>
                    <p class="product_info">
                        {{product.mark}} <br>
                        {{product.shoesname|length > 9 ? product.shoesname|slice(0, 8) ~ '…' : product.shoesname}} - {{product.category.category}} <br>

                        {% if product.promotion > 0 %}
                            <i style="color: red;">{{ (product.discountPrice/100) | number_format(2, ',', '.') }} €</i> - <span>
                                <small id="original_price">Original Price: <s>{{ (product.price/100) | number_format(2, ',', '.') }} €</s></small>
                            </span>
                        {% else %}
                            <span class="">{{ (product.price/100) | number_format(2, ',', '.') }} €</span> <br>
                        {% endif %}
                    </p>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <!--================= POPULAR MARKS SECTION ==================-->
    <section class="brand_myshoes general_container">
        <h2>Popular Marks</h2>
        <div class="brand">
            <a href=""><img src="{{asset('./images/brands/addidas.jpg')}}" alt="addidas"></a>
            <a href=""><img src="{{asset('./images/brands/nike.jpg')}}" alt="nike"></a>
            <a href=""><img src="{{asset('./images/brands/gucci.jpg')}}" alt="gucci"></a>
            <a href=""><img src="{{asset('./images/brands/merrell.jpg')}}" alt="merrell"></a>
            <a href=""><img src="{{asset('./images/brands/puma.jpg')}}" alt="puma"></a>
        </div>
    </section>

    <!-- Newsletter Section -->
    <section class="newsletter_myshoes general_container">
        <h2>Newsletter</h2>
        <p>Subscribe for our shoes updates</p>
        <form action="{{path('newsletter')}}" method="post">
            <div class="newsletter">
                <input type="email" name="email" class="newsletter_input">
                <button class="newsletter_btn" type="submit">Subscribe</button>
            </div>
        </form>
    </section>

        <!-- Footer Section -->
        

{% endblock %}
{% block footer %}
{% endblock %}

{% block script %}

    <script>
        $(document).ready(function () {
            $('.wishlist_update').on('click', function (event) {
                event.preventDefault();
                var select_wishes = $(this);
                $.ajax({
                    type: "POST",
                    url: select_wishes.attr('href'),
                    success: function (response) {
                        if (response.code === 200) {
                            // show success message
                            //alert(response.message);
                            // update the UI
                            // if product has been added to the wishlist, change the icon to a solid heart
                            if (select_wishes.find('i').hasClass('fa-regular')) {
                                 // If the current state is not in the wishlist, add the product to the wishlist
                                select_wishes.find('i').removeClass('fa-regular').addClass('fa-solid heart_icon');
                            } else {
                                // If the current state is in the wishlist, remove the product from the wishlist
                                select_wishes.find('i').removeClass('fa-solid heart_icon').addClass('fa-regular');
                            }
                        } else {
                            // show error message
                            console.error(response.message);
                        }
                    },
                    error: function(error) {
                        // If there was an error making the AJAX call, show an error message
                        console.error(error);
                        alert('Can you please log in to enable this functionality?');
                    }
                });
            });
        });
    </script>
{% endblock %}
