{% extends 'base.html.twig' %}
{% block owlcarouselcss %}
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">
{% endblock %}

{% block title %}Myshoes boutique{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <!--=============  HERO SECTION  ======================-->

    <section class="hero">
        <div>
            <div class="owl-carousel owl-theme">
                {% for header in carousels %}
                <div class="hero_background" style="background: url('/HeaderImage/{{header.headerimage}}');">
                    <div class="background_data">
                        <h4 >{{header.headertitle}}</h4>
                        <p class="hero_note">{{header.headertext}}</p>
                        <a href="{{header.headerurl}}" role="button">{{header.headerbtn}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!--================= TRENDING PRODUCTS SECTION ==================-->
    <section class="trending_product hero_container">
        <div class="heading">
            <h1>Best Promotion & Best Sales</h1>
        </div>
        <div class="products">
            {% for product in products %}
                <div class="col-lg-4 mb-4">
                    <div class="all_product">
                        <div class="card-new">
                            <a href="{{path ('related_products', {'id': product.id})}}"> 
                                <div class="img-wishlist">
                                    <img src="/upload/{{product.image}}" alt="photo {{product.shoesname}}" style="width:60%">
                                </div>
                                <a id="select_wishes" class="wishlist wishlist_update" data-productid="" href="{{path ('add_wishlist', {'id': product.id})}}">
                                    
                                    {% if app.user and product.isWishedByUser(app.user) %}
                                    <i class="fa-solid fa-heart"></i>
                                        {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </a>
                                <div class="product_info">
                                    <p>
                                        <span><strong>{{product.mark}}</strong></span> <br>
                                        <span><strong>{{product.shoesname}}</strong></span> <br>
                                        <span>{{product.category.category}}</span> <br>
                                        {% if product.promotion > 0 %}
                                        <small><span >{{ (product.price/100) | number_format(2, ',', '.') }} €</span> Original price<br></small>
                                        <span class="price">{{ (product.discountPrice/100) | number_format(2, ',', '.') }} €</span>
                                        <small class="bg-danger p-1 text-white">{{product.promotion}}% Promo</small>
                                        {% else %}
                                        <span class="price">{{ (product.price/100) | number_format(2, ',', '.') }} €</span> <br>
                                        {% endif %}

                                    </p>
                                </div>
                                <p><a class="add_to_cart" href="{{path('add_my_carte', {'id': product.id} )}}">
                                    Add to Cart
                                </a></p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <!--================= POPULAR MARKS SECTION ==================-->
    <section class="myshoes-marques">
        <div class="hero_container">
            <div class="marque-display">
                <div class="marque-image">
                    <img src="{{asset ('image/brands/puma.jpg')}}" class="img_resize" alt="">
                </div>
                <div class="marque-image">
                    <img src="{{asset ('image/brands/addidas.jpg')}}" class="img_resize" alt="">
                </div>
                <div class="marque-image">
                    <img src="{{asset ('image/brands/gucci.jpg')}}" class="img_resize" alt="">
                </div>
                <div class="marque-image">
                    <img src="{{asset ('image/brands/merrell.jpg')}}" class="img_resize" alt="">
                </div>
                <div class="marque-image">
                    <img src="{{asset ('image/brands/nike.jpg')}}" class="img_resize" alt="">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block footer %}
{% endblock %}
{% block owlcarouseljs %}
    <script src="{{asset('js/owl.carousel.js')}}"></script>
    <script src="{{asset('js/owl.carousel.min.js')}}"></script>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        $(document).ready(function(){

            //Owl carousel
            $('.owl-carousel').owlCarousel({
                loop: true,
                animateOut: 'fadeOut',
                items : 1,
                autoplay: true,
                autoplayTimeout: 4000,
                dots: true,
                nav: true,
            });

        });



        function onClickBtn(event){
            //the preventDefault() prevents that when you click on the button, for it not to go
            // to the next page.
            event.preventDefault();

            //(this) is js is a pseudonym that stucks html information
            //like here, we stock the <a> html link inside this.
            const url = this.href;
            const icon = this.querySelector('i');

            axios.get(url).then(function(response){
                if(icon.classList.contains('fa-heart')){
                    icon.classList.replace('fa-regular', 'fa-solid');
                }else {
                    icon.classList.replace('fa-solid', 'fa-regular');
                };
            }).catch(function(error){
                //if the user is not connected
                if(error.response.status === 403){
                    window.alert('You cannot like this product, please can you sign in?');
                }
            });
        }

        //var link = 
        document.querySelectorAll('a.wishlist_update').forEach(function(link){
            link.addEventListener('click', onClickBtn);
        });

    </script>
{% endblock %}
