{% extends 'base.html.twig' %}
{% block owlcarouselcss %}
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">
{% endblock %}

{% block title %}Myshoes boutique{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <!--=============  HERO SECTION  ======================-->
    <section class="hero">
        <div>
            <div class="owl-carousel owl-theme">
                {% for header in carousels %}
                <div class="hero_background" style="background: url('/HeaderImage/{{header.headerimage}}');">
                    <div class="background_data">
                        <h4 >{{header.headertitle}}</h4>
                        <p class="hero_note">{{header.headertext}}</p>
                        <a href="{{header.headerurl}}" role="button">{{header.headerbtn}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!--================= TRENDING PRODUCTS SECTION ==================-->
    <section class="trending_product hero_container">
        <div class="heading">
            <h1>Best Promotion & Best Sales</h1>
        </div>
        <div class="products">
            {% for product in products %}
                <div class="col-lg-4 mb-4">
                    <div class="all_product">
                        <div class="card-new">
                            <a href="{{path ('related_products', {'id': product.id})}}"> 
                                <div class="img-wishlist">
                                    <img src="/upload/{{product.image}}" alt="photo {{product.shoesname}}" style="width:60%">
                                </div>
                                <a id="select_wishes" class="wishlist wishlist_update" data-productid="" href="{{path ('add_wishlist', {'id': product.id})}}">
                                    
                                    {% if app.user and product.isWishedByUser(app.user) %}
                                    <i class="fa-solid fa-heart"></i>
                                        {% else %}
                                    <i class="fa-regular fa-heart"></i>
                                    {% endif %}
                                </a>
                                <div class="product_info">
                                    <p>
                                        <span><strong>{{product.mark}}</strong></span> <br>
                                        <span><strong>{{product.shoesname}}</strong></span> <br>
                                        <span>{{product.category.category}}</span> <br>
                                        {% if product.promotion > 0 %}
                                        <small><span >{{ (product.price/100) | number_format(2, ',', '.') }} €</span> Original price<br></small>
                                        <span class="price">{{ (product.discountPrice/100) | number_format(2, ',', '.') }} €</span>
                                        <small class="bg-danger p-1 text-white">{{product.promotion}}% Promo</small>
                                        {% else %}
                                        <span class="price">{{ (product.price/100) | number_format(2, ',', '.') }} €</span> <br>
                                        {% endif %}

                                    </p>
                                </div>
                                <p><a class="add_to_cart" href="{{path('add_to_cart', {'id': product.id} )}}">
                                    Add to Cart
                                </a></p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <!--================= POPULAR MARKS SECTION ==================-->
    <section class="myshoes-marques">
        <div class="hero_container">
            <div class="marque-display">
                <div class="marque-image">
                    <img src="{{asset ('image/brands/puma.jpg')}}" class="img_resize" alt="">
                </div>
                <div class="marque-image">
                    <img src="{{asset ('image/brands/addidas.jpg')}}" class="img_resize" alt="">
                </div>
                <div class="marque-image">
                    <img src="{{asset ('image/brands/gucci.jpg')}}" class="img_resize" alt="">
                </div>
                <div class="marque-image">
                    <img src="{{asset ('image/brands/merrell.jpg')}}" class="img_resize" alt="">
                </div>
                <div class="marque-image">
                    <img src="{{asset ('image/brands/nike.jpg')}}" class="img_resize" alt="">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block footer %}
{% endblock %}
{% block owlcarouseljs %}
    <script src="{{asset('js/owl.carousel.js')}}"></script>
    <script src="{{asset('js/owl.carousel.min.js')}}"></script>
{% endblock %}

{% block script %}

    <script>
        $(document).ready(function(){

            //Owl carousel
            $('.owl-carousel').owlCarousel({
                loop: true,
                animateOut: 'fadeOut',
                items : 1,
                autoplay: true,
                autoplayTimeout: 4000,
                dots: true,
                nav: true,
            });

        });

        

        $(document).ready(function () {
            $('.wishlist_update').on('click', function (event) {
                event.preventDefault();
                var select_wishes = $(this);
                $.ajax({
                    type: "POST",
                    url: select_wishes.attr('href'),
                    success: function (response) {
                        if (response.code === 200) {
                            // show success message
                            alert(response.message);
                            // update the UI
                            // if product has been added to the wishlist, change the icon to a solid heart
                            if (select_wishes.find('i').hasClass('fa-regular')) {
                                 // If the current state is not in the wishlist, add the product to the wishlist
                                select_wishes.find('i').removeClass('fa-regular').addClass('fa-solid');
                            } else {
                                // If the current state is in the wishlist, remove the product from the wishlist
                                select_wishes.find('i').removeClass('fa-solid').addClass('fa-regular');
                            }
                        } else {
                            // show error message
                            console.error(response.message);
                        }
                    },
                    error: function(error) {
                        // If there was an error making the AJAX call, show an error message
                        console.error(error);
                        alert('Can you please log in to enable this functionality?');
                    }
                });
            });
        });

    </script>
{% endblock %}
