{% extends 'base.html.twig' %}

{% block title %}{{detailproduct.shoesname}}{% endblock %}

{% block body %}
<style>
    .progress-label-left {
        float: left;
        margin-right: 0.5em;
        line-height: 1em;
    }

    .progress-label-right {
        float: right;
        margin-left: 0.3em;
        line-height: 1em;
    }

    .star-light {
        color: #e9ecef;
    }
</style>
    <!-- ============= PRODUCT DETAIL SECTION AND IMAGES =========-->

    <main class="container py-5">
        <section class="image_detail_product">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 d-flex justify-content-center align-items-center">
                        <div>
                            <img src="/upload/{{detailproduct.image}}" class="text-center" alt="basket new 7">
                        </div>
                    </div>
                    <div class="col-md-7 text-center">
                        <div class="about_product">
                            <h5>{{detailproduct.mark}}</h5>
                            <p>{{detailproduct.shoesname}} - {{detailproduct.category.category}}</p>
                            <p>{{ (detailproduct.price/100) | number_format(2, ',', '.') }} €</p>
                        </div>
                        <div class="row justify-content-center pt-2">
                            <div class="col-6 product-detail-wrap">
                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                    <div class="col-sm-12">
                                        <div class="accordion-item">
                                            <div class="block-26 mb-2">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                                        aria-controls="panelsStayOpen-collapseTwo">
                                                        <h4><strong>Size</strong></h4>
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="panelsStayOpen-headingTwo">
                                                    <div class="accordion-body">
                                                        <ul>
                                                            <li><a href="#">7</a></li>
                                                            <li><a href="#">7.5</a></li>
                                                            <li><a href="#">8</a></li>
                                                            <li><a href="#">8.5</a></li>
                                                            <li><a href="#">9</a></li>
                                                            <li><a href="#">9.5</a></li>
                                                            <li><a href="#">10</a></li>
                                                            <li><a href="#">10.5</a></li>
                                                            <li><a href="#">11</a></li>
                                                            <li><a href="#">11.5</a></li>
                                                            <li><a href="#">12</a></li>
                                                            <li><a href="#">12.5</a></li>
                                                            <li><a href="#">13</a></li>
                                                            <li><a href="#">13.5</a></li>
                                                            <li><a href="#">14</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="text-center form-control input-number" value="1" min="1" max="100">
                                    <span class="input-group-btn ml-1">
                                        <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="col-8 detail_panier_button">
                                    <a href="">Ajouter au panier</a> {# {{path('add_panier', {'id': detailproduct.id})}} #}
                                    </div>
                                    <div class="col-4 detail_wishlist_button">
                                        <button><i class="fa-regular fa-heart"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product_description px-3">
                    <h3>Description de Produit</h3>
                    <p class="text_edit">
                        {{detailproduct.description}}
                    </p>
                </div>
            </div>
        </section>

            <!--================= TRENDING PRODUCTS SECTION ==================-->
        <section class="trending_product container">
            <div class="heading">
                <h1>Les chaussures tendances</h1>
            </div>
            <div class="products">
                <div class="card-new">
                    <a href="">
                        <div class="img-wishlist">
                            <img src="assets/image/basket/basket (7) new.png" alt="Denim Jeans" style="width:60%">
                        </div>
                        <a class="wishlist" href="homme.html"><i class="fa-regular fa-heart"></i></a>
                        <div class="product_info">
                            <p>
                                <span><strong>Marque</strong></span> <br>
                                <span><strong>Nom de produit</strong></span> <br>
                                <span>Category</span> <br>
                                <span class="price">$19.99</span> <br>

                            </p>
                        </div>
                        <p><button class="add_to_cart">Add to Cart</button></p>
                    </a>
                </div>
                <div class="card-new">
                    <a href="">
                        <div class="img-wishlist">
                            <img src="assets/image/basket/basket (7) new.png" alt="Denim Jeans" style="width:60%">
                        </div>
                        <a class="wishlist" href="#"><i class="fa-regular fa-heart"></i></a>
                        <div class="product_info">
                            <p>
                                <span><strong>Marque</strong></span> <br>
                                <span><strong>Nom de produit</strong></span> <br>
                                <span>Category</span> <br>
                                <span class="price">$19.99</span> <br>

                            </p>
                        </div>
                        <p><button class="add_to_cart">Add to Cart</button></p>
                    </a>
                </div>
                <div class="card-new">
                    <a href="">
                        <div class="img-wishlist">
                            <img src="assets/image/basket/basket (7) new.png" alt="Denim Jeans" style="width:60%">
                        </div>
                        <a class="wishlist" href="#"><i class="fa-regular fa-heart"></i></a>
                        <div class="product_info">
                            <p>
                                <span><strong>Marque</strong></span> <br>
                                <span><strong>Nom de produit</strong></span> <br>
                                <span>Category</span> <br>
                                <span class="price">$19.99</span> <br>

                            </p>
                        </div>
                        <p><button class="add_to_cart">Add to Cart</button></p>
                    </a>
                </div>
            </div>
        </section>

        <!--================= RATING SECTION ==================-->
        <section class="customer_remark">
            <div class="row">
                <div class="col-md-5">
                    <h4>Review ({{newremarks|length}} nb des avis)</h4>
                    <p>{{((reviewTotal|join)/(newremarks|length))|round(1, 'floor')}}/5</p>
                    <p class="text-justify">
                        Seuls les clients Myshoes qui ont acheté cet article peuvent 
                        donner une note et partager leur avis sans aucune contrepartie. 
                        La note générale (sur 5 étoiles) est une moyenne de toutes les notes. 
                        Les clients peuvent également donner leur avis par écrit. Nous publions 
                        les avis positifs et négatifs après les avoir modérés.
                    </p>

                    {% if app.user %}
                    <!-- Button trigger modal -->
                    <button type="button" name="add_review" id="add_review" class="btn btn-primary">Review</button>
                    {% endif %}
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    <h4>Trier par date</h4>
                    {% for review in newremarks %}
                    <div class="customer_comment">
                        <div class="rating_info">
                            {% if review.user %}
                                <h6>{{review.user}}</h6>
                                {% else %}
                                <h6>Anonymous </h6>
                            {% endif %}
                            
                            <p>Evaluated : {{review.createAt|date("d/m/Y")}}</p>
                            <div class="rating">
                                {% if review.rating == 1 %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                {% elseif review.rating == 2 %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                {% elseif review.rating == 3 %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                {% elseif review.rating == 4 %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fas fa-star text-secondary"></i>
                                {% elseif review.rating == 5 %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                {% endif %}
                            </div>
                        </div>
                        <p class="">
                            {{review.comment}}
                        </p>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    {# MODAL #}
    <div id="review_modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Submit Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center mt-2 mb-4">
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_1" data-rating="1"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_2" data-rating="2"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_3" data-rating="3"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_4" data-rating="4"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_5" data-rating="5"></i>
                    </h4>
                    <div class="form-group">
                        <textarea name="user_review" id="user_review" class="form-control" placeholder="Type Review Here"></textarea>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="button" class="btn btn-primary" id="save_review">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        
        $(document).ready(function(){

            ///=========== INSERTING DATA INTO THE DATABASE =======///

            var rating_data = 0;

            $('#add_review').click(function(){
                $('#review_modal').modal('show')
            })
            
            //hovering over the stars to change color
            $(document).on('mouseenter', '.submit_star', function (){

                //this fectches data_rating value (e.g 1,2,3) and stores it in the var rating
                var rating = $(this).data('rating');

                reset_background()

                //we perform a for loop to collect the values entered
                for(var count = 1; count <= rating; count++)
                {
                    $('#submit_star_'+count).addClass('text-warning');
                }
                
            });

            //this resets the text-warning color to text-light when the mouse leaves the star.
            function reset_background() {
                for (var count = 1; count <= 5; count++){
    
                    $('#submit_star_' + count).addClass('star-light');
    
                    $('#submit_star_' + count).removeClass('text-warning');
                }
            }
    
            //when mouse leaves, the color automatically resets
            $(document).on('mouseleave', '.submit_star', function() {
    
                reset_background();
    
                for (var count = 1; count <= rating_data; count++) {
    
                    $('#submit_star_' + count).removeClass('star-light');
    
                    $('#submit_star_' + count).addClass('text-warning');
                }
    
            });

            //this we collect the value the user has clicked upon and save
            $(document).on('click', '.submit_star', function (){
                rating_data = $(this).data('rating');
                //console.log(rating_data);
            });
            

            //Now we go further to submit the entire review. that is the star value and the text.
            $('#save_review').click(function(){
                var userReview = $('#user_review').val();

                if(rating_data == '' || userReview == ''){
                    alert('Please fill both fields');
                    return false;
                }else{
                    $.ajax({
                        url:"/product/detail/rating/{{slug}}",
                        method: "POST",
                        data:{rating_data:rating_data, userReview:userReview},
                        success: $('#review_modal').modal('hide'),
                    });
                }
                
            });
        
        });
    </script>
{% endblock %}
