{% extends 'base.html.twig' %}

{% block title %}{{detailproduct.shoesname}}{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
<style>
    .star-light {
        color: #e9ecef;
    }
</style>
    <!-- ============= PRODUCT DETAIL SECTION AND IMAGES =========-->
    {% for notice in app.flashes('message') %}
        <p class="bg-success text-white">{{ notice }}</p>
    {% endfor %}
    <main class="container py-5">
        <section class="image_detail_product">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 d-flex justify-content-center align-items-center">
                        <div>
                            <img src="/upload/{{detailproduct.image}}" class="text-center" alt="basket new 7">
                        </div>
                    </div>
                    <div class="col-md-7 text-center">
                        <div class="about_product">
                            <h5>{{detailproduct.mark}}</h5>
                            <p>{{detailproduct.shoesname}} - {{detailproduct.category.category}}</p>
                            <p>{{ (detailproduct.price/100) | number_format(2, ',', '.') }} €</p>
                        </div>
                        <div class="row justify-content-center pt-2">
                            <div class="col-6 product-detail-wrap">
                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                    <div class="col-sm-12">
                                        <div class="accordion-item">
                                            <div class="block-26 mb-2">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                                        aria-controls="panelsStayOpen-collapseTwo">
                                                        <h4><strong>Size</strong></h4>
                                                    </button>
                                                </h2>
                                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="panelsStayOpen-headingTwo">
                                                    <div class="accordion-body">





                                                        <ul id="ul_select_size">
                                                            {% for adultsizes in detailproduct.adultsize %}
                                                                <li class="select_size">
                                                                    <a class="size-link" href="{{ path('add_my_carte', {'id': detailproduct.id}) }}" data-size="{{adultsizes}}" >{{adultsizes}}</a>
                                                                </li>
                                                                {# {{ path('product_size', {'idadultsize': adultsizes.id,
                                                                    'idproduct': detailproduct.id}) }} #}
                                                            {% endfor %}
                                                        </ul>

                                                        





                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8 detail_panier_button mt-3">
                                    <a href="{{path('add_my_carte', {'id': detailproduct.id} )}}">Ajouter au panier</a>
                                    </div>
                                    <div class="col-4 detail_wishlist_button">
                                        <button><i class="fa-regular fa-heart"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product_description px-3">
                    <h3>Description de Produit</h3>
                    <p class="text_edit">
                        {{detailproduct.description}}
                    </p>
                </div>
            </div>
        </section>

            <!--================= TRENDING PRODUCTS SECTION ==================-->
        <section class="trending_product container">
            <div class="heading">
                <h1>Products Frequently Bought</h1>
            </div>
            <div class="products mb-4">
                {% for product in relatedproducts %}
                <div class="card-new">
                    <a href="{{path ('related_products', {'id': product.id})}}p">
                        <div class="img-wishlist">
                            <img src="/upload/{{product.image}}" alt="{{product.shoesname}}" style="width:60%">
                        </div>
                        <a class="wishlist" href="homme.html"><i class="fa-regular fa-heart"></i></a>
                        <div class="product_info">
                            <p>
                                <span><strong>{{product.mark}}</strong></span> <br>
                                <span><strong>{{product.shoesname}}</strong></span> <br>
                                <span>{{product.category.category}}</span> <br>
                                <span class="price">{{ (product.price/100) | number_format(2, ',', '.') }} €</span> <br>

                            </p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>

        <!--================= RATING SECTION ==================-->
        <section class="customer_remark">
            <div class="row">
                <div class="col-md-5">
                    <h4>Review ({{newremarks|length}} nb des avis)</h4>
                    {% if newremarks|length != 0 %}
                    <p>{{((reviewTotal|join)/(newremarks|length))|round(1, 'floor')}}/5</p>
                    {% else %}
                    <p>0/5</p>
                    {% endif %}
                    <p class="text-justify">
                        Only Myshoes customers who have purchased this item can give a rating and share their 
                        opinion without any compensation. The overall rating (out of 5 stars) is an average 
                        of all the ratings. Customers can also give their review in writing. 
                        We publish both positive and negative reviews after moderating them.
                    </p>

                    {% if app.user %}
                    <!-- Button trigger modal -->
                    <button type="button" name="add_review" id="add_review" class="btn btn-primary">Review</button>
                    {% endif %}
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    <h4>Trier par date</h4>
                    {% for review in newremarks %}
                    <div class="customer_comment">
                        <div class="rating_info">
                            {% if review.user %}
                                <h6>{{review.user}}</h6>
                                {% else %}
                                <h6>Anonymous </h6>
                            {% endif %}
                            
                            <p>Evaluated : {{review.createAt|date("d/m/Y")}}</p>
                            <div class="rating">
                                {% if review.rating == 1 %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                {% elseif review.rating == 2 %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                {% elseif review.rating == 3 %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fas fa-star text-secondary"></i>
                                <i class="fas fa-star text-secondary"></i>
                                {% elseif review.rating == 4 %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fas fa-star text-secondary"></i>
                                {% elseif review.rating == 5 %}
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                {% endif %}
                            </div>
                        </div>
                        <p class="">
                            {{review.comment}}
                        </p>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    {# MODAL #}
    <div id="review_modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Submit Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center mt-2 mb-4">
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_1" data-rating="1"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_2" data-rating="2"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_3" data-rating="3"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_4" data-rating="4"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_5" data-rating="5"></i>
                    </h4>
                    <div class="form-group">
                        <textarea name="user_review" id="user_review" class="form-control" placeholder="Type Review Here"></textarea>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="button" class="btn btn-primary" id="save_review">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
{# <script src="{{ asset('js/rating.js') }}"></script> #}
    <script>
        
        $(document).ready(function(){

            ///=========== INSERTING DATA INTO THE DATABASE =======///
            var rating_data = 0;

            $('#add_review').click(function(){
                $('#review_modal').modal('show')
            })
            
            //hovering over the stars to change color
            $(document).on('mouseenter', '.submit_star', function (){

                //this fectches data_rating value (e.g 1,2,3) and stores it in the var rating
                var rating = $(this).data('rating');

                reset_background()

                //we perform a for loop to collect the values entered
                for(var count = 1; count <= rating; count++)
                {
                    $('#submit_star_'+count).addClass('text-warning');
                }
                
            });

            //this resets the text-warning color to text-light when the mouse leaves the star.
            function reset_background() {
                for (var count = 1; count <= 5; count++){
    
                    $('#submit_star_' + count).addClass('star-light');
    
                    $('#submit_star_' + count).removeClass('text-warning');
                }
            }
    
            //when mouse leaves, the color automatically resets
            $(document).on('mouseleave', '.submit_star', function() {
    
                reset_background();
    
                for (var count = 1; count <= rating_data; count++) {
    
                    $('#submit_star_' + count).removeClass('star-light');
    
                    $('#submit_star_' + count).addClass('text-warning');
                }
    
            });

            //this we collect the value the user has clicked upon and save
            $(document).on('click', '.submit_star', function (){
                rating_data = $(this).data('rating');
                //console.log(rating_data);
            });
            

            //Now we go further to submit the entire review. that is the star value and the text.
            $('#save_review').click(function(){
                var userReview = $('#user_review').val();

                if(rating_data == '' || userReview == ''){
                    alert('Please fill both fields');
                    return false;
                }else{
                    $.ajax({
                        url:"/product/detail/rating/{{slug}}",
                        method: "POST",
                        data:{rating_data:rating_data, userReview:userReview},
                        success: function(data){
                            document.write(data);
                        },
                    });
                }

                
            });
        
        }); 

        $(document).ready(function(){
            $('.size-link').click(function(event){
                event.preventDefault();

                //De-select the previous selected sizes
                $('.size-link.bg-danger').removeClass('bg-danger');

                //select the new size
                $(this).addClass('bg-danger')

                let size = $(this).data('size');

                // Make an AJAX request to add the selected size to the carte
                $.ajax({
                    url: "{{ path('add_my_carte', {'id': detailproduct.id}) }}",
                    type: 'POST',
                    data: {size: size},
                    success: function(response){
                        console.log(response);
                    }
                })
                
            });
        });

    </script>
{% endblock %}




