{% extends 'base.html.twig' %}

{% block title %}{{detailproduct.shoesname}}{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
    <section class="breadcrum_area">
        <a href="#">home</a>><a>{{productName}}</a>
    </section>
    <!-- ============= PRODUCT DETAIL SECTION AND IMAGES =========-->
    {% for notice in app.flashes('message') %}
        <p class="bg-success text-white">{{ notice }}</p>
    {% endfor %}

    <main>
        <section>
            <div class="container">
                <div class="row myshoes_productdetails">
                    <div class="col-sm-4 col-md-5 col-lg-5 col-xl-5 product_image">
                        <img src="/upload/{{detailproduct.image}}" class="img-fluid pdt_img" alt="{{detailproduct.shoesname}}">
                    </div>
                    <div class="col-sm-4 col-md-5 col-lg-5 col-xl-5 product_info">
                        <p>
                            {{detailproduct.mark}} <br>
                            <strong>{{detailproduct.shoesname}}</strong> - {{detailproduct.category.category}}
                        </p>
                        <p>
                            {% if detailproduct.promotion > 0 %}
                                <i style="color: red;">{{ (detailproduct.discountPrice/100) | number_format(2, ',', '.') }} €</i> - <span>
                                    <small>Original Price: <s>{{ (detailproduct.price/100) | number_format(2, ',', '.') }} €</s></small>
                                </span>
                            {% else %}
                                <span class="">{{ (detailproduct.price/100) | number_format(2, ',', '.') }} €</span> <br>
                            {% endif %}

                        </p>
                        <div class="product_more_info">
                            <form method="post" id="form_cart" data-id="{{detailproduct.id}}" action="{{ path('add_to_cart', { 'id': detailproduct.id }) }}">
                                <select class="size" id="size" name="size" required aria-label="Default select">
                                    <option disabled selected id="option_disabled">Select Size</option>
                                    {% for size in detailproduct.adultsize %}
                                        <option value="{{ size.id }}">{{ size.adultsize }}</option>
                                    {% endfor %}
                                </select>
                                <div class="basket_wishlist">
                                    <div class="basket">
                                        <button class="btn_basket_wishlist btn_basket" type="submit">Add to basket</button>
                                    </div>
                                    <div class="wishlist">
                                        <a id="select_wishes" class="wishlist btn_basket_wishlist wishlist_update" href="{{path ('add_wishlist', {'id': detailproduct.id})}}" data-productid="">
                                            {% if app.user and detailproduct.isWishedByUser(app.user) %}
                                            <i class="fa-solid fa-heart heart_icon btn_wishlist"></i>
                                            {% else %}
                                            <i class="fa-regular fa-heart btn_wishlist"></i>
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <div class="product_description">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                <strong>Product description</strong>
                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                            data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <p class="">
                                                    {{detailproduct.description}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                <strong>Delivery</strong>
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                                            data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                                                class. This is the second item's accordion body. Let's imagine this being
                                                filled with some actual content.</div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--================= TRENDING PRODUCTS SECTION ==================-->
        <section>
            <div class="container">
                <h2 class="mb-4">Related products</h2>
                <div class="myshoes_product">
                    {% for product in relatedproducts %}
                    <div class="product_class">
                        <a href="{{path ('related_products', {'id': product.id})}}" class="product">
                            <div class="product_card">
                                <div class="card_image">
                                    <img src="/upload/{{product.image}}" class="product_img" alt="photo {{product.shoesname}}">
                                    <a id="select_wishes" class="wishlist wishlist_update" href="{{path ('add_wishlist', {'id': product.id})}}" data-productid="">
                                        {% if app.user and product.isWishedByUser(app.user) %}
                                        <i class="fa-solid fa-heart heart_icon"></i>
                                        {% else %}
                                        <i class="fa-regular fa-heart"></i>
                                        {% endif %}
                                    </a>
                                    {% if product.promotion > 0 %}
                                        <p class="promo">Promo<span>-{{product.promotion}}%</span></p>
                                    {% endif %} 
                                </div>
                                <div class="text">
                                        {% for size in product.adultsize %}
                                                {{ size.adultsize }}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            <p class="product_info">
                                {{product.mark}} <br>
                                {{product.shoesname}} - {{product.category.category}} <br>
        
                                {% if product.promotion > 0 %}
                                <small><span >{{ (product.price/100) | number_format(2, ',', '.') }} €</span> Original price<br></small> - 
                                <span class="">{{ (product.discountPrice/100) | number_format(2, ',', '.') }} €</span>
                                {% else %}
                                    <span class="">{{ (product.price/100) | number_format(2, ',', '.') }} €</span> <br>
                                {% endif %}
                            </p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!--================= RATING SECTION ==================-->
        <section class="customer_remark container">
            <div class="row">
                <div class="col-md-5 pb-3">
                    <h4>Review ({{newremarks|length}} No of review<span class="if_plural">(s)</span>)</h4>
                    {% if newremarks|length != 0 %}
                    <p>{{((reviewTotal|join)/(newremarks|length))|round(1, 'floor')}}/5</p>
                    {% else %}
                    <p>0/5</p>
                    {% endif %}
                    <p class="review_info">
                        Only Myshoes customers who have purchased this item can give a rating and share their 
                        opinion without any compensation. The overall rating (out of 5 stars) is an average 
                        of all the ratings. Customers can also give their review in writing. 
                        We publish both positive and negative reviews after moderating them.
                    </p>

                    {% if app.user %}
                    <!-- Button trigger modal -->
                    <button type="button" name="add_review" id="add_review" class="btn btn-primary">Review</button>
                    {% endif %}
                </div>
                <div class="col-md-1">
                    <div class="hr_line"></div>
                </div>
                <div class="col-md-6">
                    <h4 class="mb-5">Sorted by date</h4>
                    {% if newremarks %}
                        {% for review in newremarks %}
                        <div class="customer_comment">
                            <div class="rating_info">
                                {% if review.user %}
                                    <h6>{{review.user.pseudo}}</h6>
                                    {% else %}
                                    <h6>Anonymous </h6>
                                {% endif %}
                                
                                <p>Evaluated : {{review.createAt|date("d/m/Y")}}</p>
                                <div class="rating">
                                    {% for i in 1..5 %}
                                        {% if review.rating >= i %}
                                            <i class="fa-solid fa-star"></i>
                                        {% else %}
                                            <i class="fas fa-star text-secondary"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <p class="">
                                {{review.comment}}
                            </p>
                        </div>
                        <hr>
                        {% endfor %}
                    {% else %}
                        <p class="text-center">No review</p>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>

    {# MODAL #}
    <div id="review_modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Submit Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center mt-2 mb-4">
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_1" data-rating="1"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_2" data-rating="2"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_3" data-rating="3"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_4" data-rating="4"></i>
                        <i class="fas fa-star star-light submit_star mr-1" id="submit_star_5" data-rating="5"></i>
                    </h4>
                    <div class="form-group">
                        <textarea name="user_review" id="user_review" class="form-control" placeholder="Type Review Here"></textarea>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="button" class="btn btn-primary" id="save_review">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
    <script>

        /**** SELECTING SHOE SIZE  SECTION ***/
        document.querySelector('#form_cart').addEventListener('submit', function(event){
            var sizeInput = document.querySelector('select#size.size')
            if(sizeInput.value === 'Select Size'){
                sizeInput.style.border = '1px solid red';
                event.preventDefault();
            }
        });

        $(document).ready(function(){

            ///=========== INSERTING DATA INTO THE DATABASE =======///
            var rating_data = 0;
            // When the user clicks the "Add Review" button, show the review modal
            $('#add_review').click(function(){
                $('#review_modal').modal('show')
            })
            
            //hovering over the stars to change color
            $(document).on('mouseenter', '.submit_star', function (){
                //this fectches data_rating value (e.g 1,2,3) and stores it in the var rating
                var rating = $(this).data('rating');
                reset_background()

                //we perform a for loop to collect the values entered
                for(var count = 1; count <= rating; count++)
                {
                    $('#submit_star_'+count).addClass('text-warning');
                }
            });

            //this resets the text-warning color to text-light when the mouse leaves the star.
            function reset_background() {
                for (var count = 1; count <= 5; count++){
                    $('#submit_star_' + count).addClass('star-light');
                    $('#submit_star_' + count).removeClass('text-warning');
                }
            }
    
            //when mouse leaves, the color automatically resets
            $(document).on('mouseleave', '.submit_star', function() {
                reset_background();
                for (var count = 1; count <= rating_data; count++) {
                    $('#submit_star_' + count).removeClass('star-light');
                    $('#submit_star_' + count).addClass('text-warning');
                }
            });

            //this we collect the value the user has clicked upon and save
            $(document).on('click', '.submit_star', function (){
                rating_data = $(this).data('rating');
            });
            
            // When the user clicks the "Save Review" button, submit the rating and review via AJAX
            $('#save_review').click(function(){
                var userReview = $('#user_review').val();
                if(rating_data == '' || userReview == ''){
                    alert('Please fill both fields');
                    return false;
                }else{
                    // Submit the rating and review to the server via AJAX
                    $.ajax({
                        url:"/product/detail/rating/{{id}}",
                        method: "POST",
                        data:{rating_data:rating_data, userReview:userReview},
                        success: function(data){
                            // Display the server response (data) on the page
                            document.write(data);
                        },
                    });
                }
            });

            /**** WISHLIST  SECTION ***/
            $('.wishlist_update').on('click', function (event) {
                event.preventDefault();
                var select_wishes = $(this);
                $.ajax({
                    type: "POST",
                    url: select_wishes.attr('href'),
                    success: function (response) {
                        if (response.code === 200) {
                            // show success message
                            //alert(response.message);
                            // update the UI
                            // if product has been added to the wishlist, change the icon to a solid heart
                            if (select_wishes.find('i').hasClass('fa-regular')) {
                                 // If the current state is not in the wishlist, add the product to the wishlist
                                select_wishes.find('i').removeClass('fa-regular').addClass('fa-solid heart_icon');
                            } else {
                                // If the current state is in the wishlist, remove the product from the wishlist
                                select_wishes.find('i').removeClass('fa-solid heart_icon').addClass('fa-regular');
                            }
                        } else {
                            // show error message
                            console.error(response.message);
                        }
                    },
                    error: function(error) {
                        // If there was an error making the AJAX call, show an error message
                        console.error(error);
                        alert('Can you please log in to enable this functionality?');
                    }
                });
            });
        
        });
        
    </script>
{% endblock %}




