{% extends 'base.html.twig' %}

{% block title %}myshoes for women{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
    <div class="breadcrumbs-two py-5">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs-img" >
                    <h2><a href="{{path('home')}}">Home</a>><a href="{{path('women')}}">women</a></h2>
                </div>
            </div>
        </div>
    </div>
    <!-- ======= men's product section with filter ===========  -->
    <main class="container py-5">
        <section class="myshoes-product">
            <div class="container-fluid">
                <div class="row">

                    <!-- ======= filter section ===========  -->

                    <div class="col-lg-3 col-xl-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="side border mb-1">
                                    <h4>FILTER</h4>
                                </div>
                            </div>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="col-sm-12">
                                    <div class="accordion-item">
                                        <div class="side border mb-1">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                                    aria-controls="panelsStayOpen-collapseOne">
                                                    <h3>Brand</h3>
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse myshoes_search_product"
                                                aria-labelledby="panelsStayOpen-headingOne">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <div class="brand d-flex justify-content-between">
                                                            {{form_start(form)}}
                                                            {{form_end(form)}}
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="accordion-item">
                                        <div class="side border mb-1">
                                            <div class="block-26 mb-2">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                                        aria-controls="panelsStayOpen-collapseTwo">
                                                        <h3>Size</h3>
                                                    </button>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="accordion-item">
                                        <div class="side border mb-1">
                                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                                    aria-controls="panelsStayOpen-collapseThree">
                                                    <h3>Material</h3>
                                                </button>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ======= product section ===========  -->

                    <div class="product_area col-lg-9 col-xl-9">
                        <div class="row row-pb-md">
                            {{form_start(formText)}}
                            <div class="row d-flex justify-content-end">
                                <div class="col-md-5 col-sm-7 col-7">
                                    {{form_row(formText.categoryinfo)}}
                                </div>
                                <div class="col-md-2 col-sm-3 col-3">
                                    {{form_row(formText.submit)}}
                                </div>
                            </div>
                            {{form_end(formText)}}
                            <div class="col-lg-12 my-4 product_resize">
                                {% for product in products %}
                                    <div class="all_product my-2">
                                        <div class="product_card">
                                            <div class="card_image">
                                                <a href="{{path ('related_products', {'id': product.id})}}" class="product">
                                                    <img src="/upload/{{product.image}}" class="product_img" alt="photo {{product.shoesname}}">
                                                    <a id="select_wishes" class="wishlist wishlist_update" href="{{path ('add_wishlist', {'id': product.id})}}" data-productid="">
                                                        {% if app.user and product.isWishedByUser(app.user) %}
                                                        <i class="fa-solid fa-heart heart_icon"></i>
                                                        {% else %}
                                                        <i class="fa-regular fa-heart"></i>
                                                        {% endif %}
                                                    </a>
                                                    {% if product.promotion > 0 %}
                                                    <p class="promo">Promo<span>-{{product.promotion}}%</span></p>
                                                    {% endif %} 
                                                </a>
                                            </div>
                                            <div class="text">
                                                {% for size in product.adultsize %}
                                                    {{ size.adultsize }}
                                                {% endfor %}
                                                </p>
                                            </div>
                                        </div>
                                        <p class="product_info">
                                            {{product.mark}} <br>
                                            <strong>{{product.shoesname|length > 9 ? product.shoesname|slice(0, 8) ~ '…' : product.shoesname}}</strong> - {{product.category.category}} <br>
                    
                                            {% if product.promotion > 0 %}
                                                <i style="color: red;">{{ (product.discountPrice/100) | number_format(2, ',', '.') }} €</i> - <span>
                                                    <small id="original_price">Original Price: <s>{{ (product.price/100) | number_format(2, ',', '.') }} €</s></small>
                                                </span>
                                            {% else %}
                                                <span class="">{{ (product.price/100) | number_format(2, ',', '.') }} €</span> <br>
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endfor %}
                                    
                            </div>
                            
                            <!-- ======= pagination section ===========  -->
                            <div class="w-100">
                                {% do products.setPageRange(1) %}
                                {{ knp_pagination_render(products, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig')}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('.wishlist_update').on('click', function (event) {
                event.preventDefault();
                var select_wishes = $(this);
                $.ajax({
                    type: "POST",
                    url: select_wishes.attr('href'),
                    success: function (response) {
                        if (response.code === 200) {
                            // show success message
                            //alert(response.message);
                            // update the UI
                            // if product has been added to the wishlist, change the icon to a solid heart
                            if (select_wishes.find('i').hasClass('fa-regular')) {
                                 // If the current state is not in the wishlist, add the product to the wishlist
                                select_wishes.find('i').removeClass('fa-regular').addClass('fa-solid heart_icon');
                            } else {
                                // If the current state is in the wishlist, remove the product from the wishlist
                                select_wishes.find('i').removeClass('fa-solid heart_icon').addClass('fa-regular');
                            }
                        } else {
                            // show error message
                            console.error(response.message);
                        }
                    },
                    error: function(error) {
                        // If there was an error making the AJAX call, show an error message
                        console.error(error);
                        alert('Can you please log in to enable this functionality?');
                    }
                });
            });
        });

    </script>
{% endblock %}