{% extends 'base.html.twig' %}

{% block title %}Pass your command{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

<section class="container pt-4">
    <h4 class="basket_page">Add address &#x26 Transport agency</h4>
</section>

{{form_start(forms, {action:path('command_recap')} )}}
    <main class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <!-- ============= lIVRAISON AND ADRESSE =========-->
                <fieldset class="col-md-12 rounded-4 p-4 form-group">
                    <legend><strong>Choose your address for delivery</strong></legend>
                    <div class="mb-2">
                        <a href="{{path ('add_address')}}" class="mx-3" style="color: rgba(12, 12, 155, 0.886);">Add a delivery address</a>
                    </div>
                    <div id="order_addresses">
                        <address>
                            {{ form_widget(forms.address)|replace({'[br]' : '<br>'})|raw}}
                        </address>
                    </div>
                </fieldset>
        
                <!-- ============= CHOOSE YOUR DELIVERY AGENCY =========-->
                <fieldset class="col-md-12 rounded-4 p-4 mt-5">
                    <legend><strong>Choose your delivery agency</strong></legend>
                    <div>
                        <address>
                            {{ form_widget(forms.transport)|replace({'[br]' : '<br>', '[hr]' : '<hr>'})|raw }}
                        </address>
                    </div>
                </fieldset>
            </div>

            <div class="col-md-6 edit_margin">
                <!-- ============= ENTER YOUR NAMES =========-->
                <fieldset class="col-md-12 rounded-4 p-4">
                    <legend><strong>Billing Address</strong></legend>

                    <p class="text-center"><strong>Same as delivery address</strong></p>
                    <p class="text-center text-danger display-6">Or</p>
                    <hr>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <strong>Create Billing Address</strong>
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div>
                                        {{ form_start(forms) }}
                                        <div class="my-2">
                                            {{ form_row(forms.firstname) }}
                                        </div>
                                        <div class="my-2">
                                            {{ form_row(forms.lastname) }}
                                        </div>
                                        {{ form_end(forms) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </fieldset>

                <div class="col-md-12 sous_title">
                    <div class="btn_commande">
                        <button type="submit" class="check_out_btn btn">Proceed to payment</button>
                    </div>
                </div>
                <!-- ============= SELECTED PRODUCTS =========-->
                {# <div class="col-md-12 bg-light rounded-4 p-4 sous_title" style="height: 35rem;">
                    <div class="d-flex">
                        <div class="col-md-4">
                            <p></p>
                        </div>
                        <div class="col-md-4">
                            <p></p> 
                        </div>
                        <div class="col-md-2 text-center">
                            <p><strong>Quantity</strong></p>
                        </div>
                        <div class="col-md-2 text-center">
                            <p><strong>Prix</strong></p>
                        </div>
                    </div>

                    {% set total = null %}
                    {% set qtytotal = 0 %}
                    {% for productdetail in fullproducts %}
                    <div class="d-flex my-3">
                        <div class="col-md-4">
                            <img src="/upload/{{productdetail.productdetail.image}}" alt="" class=" w-50 bg-warning img-fluid">
                        </div>
                        <div class="col-md-4">
                            <p>
                                {{productdetail.productdetail.mark}} <br>
                                {{productdetail.productdetail.shoesname}} <br>
                                <strong>size: </strong> {{productdetail.size}}
                            </p> 
                        </div>
                        <div class="col-md-2 text-center">
                            <p>{{productdetail.quantity}}</p>
                        </div>
                        <div class="col-md-2 text-center">
                            <p>{{ ((productdetail.productdetail.discountPrice * productdetail.quantity)/100)|number_format(2, ',', '.') }} €</p>
                        </div>
                    </div>
                    <hr>
                    {% set total = total + (productdetail.productdetail.discountPrice * productdetail.quantity) %}
                    {% set qtytotal = qtytotal + (productdetail.quantity) %}
                    {% endfor %}

                    <div class="d-flex">
                        <div class="col-md-4">
                            <p></p>
                        </div>
                        <div class="col-md-4">
                            <p class="text-center"><strong>Total:</strong></p> 
                        </div>
                        <div class="col-md-2 text-center">
                            <p><strong>{{qtytotal}}</strong></p>
                        </div>
                        <div class="col-md-2 text-center">
                            <p><strong>{{ (total/100)|number_format(2, ',', '.') }} €</strong></p>
                        </div>
                    </div>
                    
                    <div class="btn_commande">
                        <button type="submit" class="btn bg-warning mt-5">Pass your command</button>
                    </div>
                </div> #}
            </div>
        </div>
    </main>
{{form_end(forms)}}

{% endblock %}

{% block footer %}{% endblock %}
