
    <nav class="nav_bar">
        <div class="general_container">
            <div class="logo">
                <h3><a href="{{path ('home')}}">Myshoes</a></h3>
            </div>
            <div class="nav_links">
                <ul class="nav_ul">
                    <li class="nav_items">
                        <a href="{{path ('men')}}">Men</a>
                    </li>
                    <li class="nav_items">
                        <a href="{{path ('women')}}">Women</a>
                    </li>
                    <li class="nav_items">
                        <a href="{{path ('children')}}">Children</a>
                    </li>
                    <div class="icon_close">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </ul>
            </div>


            <!--======= DROP DOWN USER ACCOUNT ========-->
            <div class="nav_right">
                <ul>
                    <li class="nr_li dd_main">
                        <i class="fa-solid fa-user"></i>
                        <div class="dd_menu">
                            <div class="dd_right">
                                <ul>
                                    {% if app.user %}
                                        <li class="text-center btn_nav mt-2"><a class="mt-2" href="{{path ('app_logout')}}">Disconnect</a></li>
                                        <li class="nav_hover"><a href="{{path ('address')}}">Account</a></li>
                                        <li class="nav_hover"><a href="{{path ('contact_us')}}">Help & Contact</a></li>
                                    {% else %}
                                        <li class="text-center btn_nav mt-2"><a class="mt-2" href="{{path ('app_login')}}">Log in</a></li>
                                        <li class="text-center btn_nav mt-2"><a class="mt-2" href="{{path ('app_register')}}" >Sign up</a></li>
                                        <li class="nav_hover"><a href="{{path ('contact_us')}}">Help & Contact</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="nr_li">
                        <a href="{{path ('admin')}}"><i class="fa-solid fa-gauge"></a></i>
                    </li>
                    <li class="nr_li">
                        <a href="">
                            <div class="cart_number">
                                <i class="fa-regular fa-heart cart_icon"></i>
                                {# <span class="cart_data">5</span> #}
                            </div>
                        </a>
                    </li>
                    <li class="nr_li">
                        <a href="{{path ('cart')}}">
                            <div class="cart_number">
                                <i class="fa-solid fa-cart-shopping cart_icon"></i>
                                <span class="cart_data">{{cart_total_quantity()}}</span>
                            </div>
                        </a>
                    </li>


                </ul>
            </div>
            <!--======= DROP DOWN USER ACCOUNT ENDS ========-->

            <!--======= BURGER MENU FOR PHONE SIZE ========-->
            <div class="burger">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>
{# 
<!--=============  NAV BAR  ======================-->
<nav class="nav_bar">
    <div class="general_container">
        <div class="logo">
            <h3><a href="{{path ('home')}}">Myshoes</a></h3>
        </div>
        <div class="nav_links">
            <ul class="nav_ul">
                <li class="nav_items">
                    <a href="{{path ('men')}}">Men</a>
                </li>
                <li class="nav_items">
                    <a href="{{path ('women')}}">Women</a>
                </li>
                <li class="nav_items">
                    <a href="{{path ('children')}}">Children</a>
                </li>
                <div class="icon_close">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </ul>
        </div>


        <!--======= DROP DOWN USER ACCOUNT ========-->
        <div class="nav_right">
            <ul>
                <li class="nr_li dd_main">
                    <i class="fa-solid fa-user"></i>
                    <div class="dd_menu">
                        <div class="dd_right">
                            <ul>
                                {% if app.user %}
                                    <li class="text-center btn_nav mt-2"><a class="mt-2" href="{{path ('app_logout')}}">Disconnect</a></li>
                                    <li class="nav_hover"><a href="{{path ('address')}}">Account</a></li>
                                    <li class="nav_hover"><a href="{{path ('contact_us')}}">Help & Contact</a></li>
                                {% else %}
                                    <li class="text-center btn_nav mt-2"><a class="mt-2" href="{{path ('app_login')}}">Log in</a></li>
                                    <li class="text-center btn_nav mt-2"><a class="mt-2" href="{{path ('app_register')}}" >Sign up</a></li>
                                    <li class="nav_hover"><a href="{{path ('contact_us')}}">Help & Contact</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nr_li">
                    <a href="{{path ('admin')}}"><i class="fa-solid fa-gauge"></a></i>
                </li>
                <li class="nr_li">
                    <a href="">
                        <div class="cart_number">
                            <i class="fa-regular fa-heart cart_icon"></i>
                            <span class="cart_data">5</span>
                        </div>
                    </a>
                </li>
                <li class="nr_li">
                    <a href="">
                        <div class="cart_number">
                            <i class="fa-solid fa-cart-shopping cart_icon"></i>
                            <span class="cart_data">{{totalquantity}}</span>
                        </div>
                    </a>
                </li>


            </ul>
        </div>
        <!--======= DROP DOWN USER ACCOUNT ENDS ========-->

        <!--======= BURGER MENU FOR PHONE SIZE ========-->
        <div class="burger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</nav> #}
