<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The shop which sell shoes only made in France">
    <meta name="author" content="CW Bertrand">
    <title>{% block title %}Myshoes boutique{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% block signupincss %}{% endblock %}
    <!--STYLESHEET BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <!--STYLESHEET-->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/mediaquery480px.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/mediaquery768px.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/mediaquery1024px.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/mediaquery1200px.css') }}" type="text/css">
    {% endblock %}
</head>

<body>
    {% if block('navbar') is defined %}
    <!--=============  NAV BAR  ======================-->
    {% include('_partials/navbar.html.twig') %}
    {% endif %}
    {% block body %}{% endblock %}


    <!--================= FOOTER SECTION ==================-->
    {% if block('footer') is defined %}
    {% include('_partials/footer.html.twig') %}
    {% endif %}

    {% block javascript %}{% endblock %}
    {% block javascripts %}
    <!--JAVASCRIPT-->
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% block owlcarouseljs %}{% endblock %}
    {% block script %}{% endblock %}

</body>

</html>